<!-- Footer -->
<footer class="footer w3-dark-gray">
  <div class="w3-center">
    <p>
  <img alt="" width="200" src="/assets/c99.svg"> <br>
  <p><img class="social" src="/assets/icons/phone.svg" alt="Call Us"> 	
    <a href="tel:+442920001404">02920 001 404</a> &nbsp; | &nbsp; <img class="social" src="/assets/icons/email.svg" alt="Email JakeJnx"> <a href="mailto:hello@clinic99.com">hello@clinic99.com</a></p>
  <a href="https://www.linkedin.com/company/jakejnx-software-development"><img class="social" src="/assets/svgs/linkedin.svg" alt="JakeJnx on Linkedin"></a> &nbsp; 
    <a href="https://github.com/jakejnx"><img class="social" src="/assets/icons/github.svg" alt="JakeJnx on Github"></a> &nbsp; 
    <a href="https://twitter.com/jakejnx"><img class="social" src="/assets/icons/twitter.svg" alt="Follow JakeJnx on Twitter"></a> &nbsp; 
    <a href="https://facebook.com/JakeJnx"><img class="social" src="/assets/icons/facebook.svg" alt="JakeJnx on Facebook"></a><br>
    <p>
  Clinic99 is built by JakeJnx Software © Jake Jenkins and respective owners 2020.  All Rights Reserved.
  </p>
  </div>
</footer>

<script>
  function myFunction() {
    var x = document.getElementById("demo");
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else { 
      x.className = x.className.replace(" w3-show", "");
    }
  }
  </script>

  <script>

<!--[if IE]>
  document.getElementById('wave').style.display = 'none'; 
<![endif]-->
  </script>
