<!-- Navigation Bar-->
<header>
<div class="w3-bar c99bg">
  <div class="jct">
  <a href="/" ><img alt="clinic99 logo" src="/assets/c99.svg" class="clinic99-logo"></a>
  <div class="jml">
  <a class="jmlnav w3-hide-small" href="/about">About</a>
  <a class="jmlnav w3-hide-small" href="/get-involved">Get Involved</a>
  <a class="jmlnav w3-hide-small" href="/blog">Blog</a>
  
  <div class="w3-right">
    <a href="https://wa.me/message/P44YRRUUG56HE1"><i>We're on</i><img alt="Call or message us on WhatsApp" class="whatsapp" src="/assets/whatsapp.svg"></a>
    <a href="javascript:void(0)" class="jmlnav w3-right w3-hide-large w3-hide-medium" onclick="myFunction()">&#9776;</a>
  </div>
  </div>
  </div>

<div id="demo" class="w3-bar-block w3-hide w3-hide-large w3-hide-medium">
  <a href="/" class="w3-bar-item w3-button">About</a>
  <a href="/get-involved" class="w3-bar-item w3-button">Get Involved</a>
  <a href="/blog" class="w3-bar-item w3-button">Blog</a>
</div>

</div>

</header>
