<!-- Navigation Bar-->
<header>
<div class="w3-bar" style="background-color: #363636;">
  <div class="jct">
  <a href="/" ><img alt="jakejnx logo" src="https://cdn.jakejnx.com/jakejnx-logo.png" class="jakejnx-logo"></a>
  <div class="jml">
  <a class="jmlnav w3-hide-small" href="/about">About</a>
  <a class="jmlnav w3-hide-small" href="/services">Services</a>
  <a class="jmlnav w3-hide-small" href="/portfolio">Portfolio</a>
  <a class="jmlnav w3-hide-small" href="/blog">Blog</a>
  
  <div class="w3-right">
    <a href="https://wa.me/message/P44YRRUUG56HE1"><i>We're on</i><img alt="Call or message JakeJnx Software Development on WhatsApp" class="whatsapp" src="/assets/whatsapp.svg"></a>
    <a href="javascript:void(0)" class="jmlnav w3-right w3-hide-large w3-hide-medium" onclick="myFunction()">&#9776;</a>
  </div>
  </div>
  </div>

<div id="demo" class="w3-bar-block w3-hide w3-hide-large w3-hide-medium">
  <a href="/" class="w3-bar-item w3-button">About</a>
  <a href="/services" class="w3-bar-item w3-button">Services</a>
  <a href="/portfolio" class="w3-bar-item w3-button">Portfolio</a>
  <a href="/blog" class="w3-bar-item w3-button">Blog</a>
</div>

</div>

</header>
